

@{
    ViewBag.Title = "CodeView";
}

<h3>Example6: Buttons</h3>

<xmp>

    @{
        ViewBag.Title = "Index";
    }

    <h3>Example6: Buttons</h3>


    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>


</xmp>